*{
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;   
}
.slider{
    transform: translateY(20%);
    min-height: 500px;
}
.container{
    max-width: 717px;
    margin: 0 auto;
    overflow: hidden;
}
.slider .slider-wrap{
    width: 2000px;
    position: relative;
    display: flex;
    transition: all .5s linear;
}
.slider .slider-items{
    position: relative;
    min-width: 717px;
    object-fit: cover;
    
}
.slider-arrow{
    display: flex;
    position: absolute;
    top: 50%;
    max-width: 717px;
    width: 100%;
}
.slider-arrow .next{
    position: absolute;
    right: 0;
}
.arrow{
    cursor: pointer;
    fill: red;
}
.arrow:hover{
    cursor: pointer;
    opacity: 0.6;
}

.dots-wrap{
    position: absolute;
    display: flex;
    max-width: 100px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.dots{
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #000;
}
.dots:not(:last-child){
    margin-right: 15px;
}
.active{
    background-color: red;
}