.wight_1 {
    width: 8000px !important;
}

.wight_2 {
    width: 4263px !important;
}

.wight_3 {
    width: 2924px !important;
}

.wight_4 {
    width: 2175px !important;
}

.wight_5 {
    width: 1727px !important;
}